.centerAlign {
    text-align: center;
 }

.addrsFooter {
    text-align:center;
    border-top:1px solid black;
}

.menuLinksRow {
    height: 32px;
    border:1px solid black;
}

.menuLinksCol {
    border:1px solid black;
}

.restaurantTitle {
    font-family: fantasy;
    font-size: 52px;
    font-weight: bolder;
    color : darkgoldenrod;
}

td.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

