.centerAlign {
    text-align: center;
 }

.addrsFooter {
    text-align:center;
    border-top:1px solid black;
}

.menuLinksRow {
    height: 32px;
    border:1px solid black;
}

.menuLinksCol {
    border:1px solid black;
}

