.centerAlign {
    text-align: center;
 }

.bevTypeCol {
    padding-left:500px;
}

.priceCol {
    padding-left: 60px;
}

.addrsFooter {
    text-align:center;
    border-top:1px solid black;
}

.menuLinksRow {
    height: 32px;
    border:1px solid black;
}

.menuLinksCol {
    border:1px solid black;
}

.restaurantTitle {
    font-family: fantasy;
    font-size: 52px;
    font-weight: bolder;
    color : darkgoldenrod;
}

td.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

a {    
    text-decoration: underline;
    font-weight: none;
}

a:link{
    color:blue;
}

a:visited{
    color: red;
}

a:hover{
    font-weight: bold;
}

a:active {
    text-decoration: none;
}