.centerAlign {
    text-align: center;
 }

.addrsFooter {
    text-align:center;
    border-top:1px solid black;
}

.labelAlignRight {
    text-align:right;
    }

.inputAlignLeft {
    text-align:left;
}

.menuLinksRow {
    height: 32px;
    border:1px solid black;
}

.menuLinksCol {
    border:1px solid black;
}

.restaurantTitle {
    font-family: fantasy;
    font-size: 52px;
    font-weight: bolder;
    color : #e05d16;
    background-color:#fcc28f;
}

.restaurantBackGrnd {
    background-color:#fcc28f;
}
td.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

